body {
    margin: 0;
    padding: 0;

}




.section__pay {
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    

    @media screen and (max-width: 650px) {
        padding-top: 30px;
    }



    & .payF{    
        background: linear-gradient(107.62deg, rgba(255, 195, 80, 0.85) -53.02%, rgba(255, 195, 80, 0.85) 134.49%);
        border-radius: 60px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        min-height: 400px;
        width: 100%;
        margin: 0 auto;

       padding: 60px 120px;

       @media screen and (max-width: 992px) {
        padding: 60px;
        margin-top: 50px;
        max-width: none;
        min-height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        }
        @media screen and (max-width: 700px) {
            margin-top: 50px;
            padding: 0px 0px;
            }

       img{
        width: 120px;

        @media screen and (max-width: 700px) {
            width: 70px;
            }
       }
        


        

        &__title{
        

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            
        @media screen and (max-width: 700px) {

            font-size: 20px;
            line-height: 24px;

        }

        @media screen and (max-width: 700px) {
            font-size: 16px;

        }
        }

    }

}